:root {
    --color-gradient-light-blue: #3A7BD5;
    --color-gradient-dark-blue: #1600A0;
    --color-dark-text: #000000;
    --color-grey-text: #747474;
    --color-light-grey-border:#D8D2D2;
    --color-light-grey-carousel-indicators:#C2C2C2;
    --color-light-grey-bg: #EEEEEE;
    --color-red-badge: #FF4A3D;
    --color-yellow-star: #FFC300;
    --color-dark-grey-bg: #383737; 
    --font-base: 'Inter', sans-serif;
  }

  body, html {
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    font-family: var(--font-base);
    background-color: var(--color-light);
  }

  /* Text color utilities */
.text-dark {
  color: var(--color-dark-text) !important;
}

.text-grey {
  color: var(--color-grey-text);
}

.bg-red {
  color: var(--color-red-badge);
}

.bg-yellow {
  color: var(--color-yellow-star);
}

/* Background color utilities */
.bg-gradient-blue {
  background: linear-gradient(to right, var(--color-gradient-light-blue), var(--color-gradient-dark-blue));
}

.bg-light-grey {
  background-color: var(--color-light-grey-bg);
}

.bg-dark-grey {
  background-color: var(--color-dark-grey-bg);
}

/* Border color */
.border-light-grey {
  border-color: var(--color-light-grey-border);
}

/* Carousel indicators */
.indicator-grey {
  background-color: var(--color-light-grey-carousel-indicators);
}
