@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --color-gradient-light-blue: #3a7bd5;
  --color-gradient-dark-blue: #1600a0;
  --color-text-primary: #0044cc;
  --color-black: #1e1e1e;
  --color-bs-dark: #212529;
  --color-text-dark-lighter: #1c1c1c;
  --color-grey-text: #5b5a5a;
  --color-light-grey-border: #e5e5e5;
  --color-light-grey-carousel-indicators: #c2c2c2;
  --color-light-grey-bg: #e7e7e7;
  --color-red: #ff4a3d;
  --color-dark-pink: #890c4b;
  --color-yellow-star: #ffc300;
  --font-base: "Titillium Web";
  --blue-gradient-background: linear-gradient(
    to right,
    var(--color-gradient-light-blue),
    var(--color-gradient-dark-blue)
  );
  --rounded-border: 4.6px;
  --shadow-light: 0px 2px 4px 0px rgba(51, 55, 59, 0.08),
    0px 1px 10px 0px rgba(51, 55, 59, 0.06);
}

h2 {
  font-weight: bold;
}

.small-text {
  font-size: 0.875em;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-light);
}

section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.paragraph-container {
  width: 75%;
}

.light-grey-container {
  background-color: var(--color-light-grey-bg);
}

.dark-pink-bg {
  background-color: var(--color-dark-pink);
}

.dark-grey-container {
  background-color: var(--color-dark-grey-bg) !important;
}

.black-bg {
  background-color: var(--color-black);
}

.card-gradient {
  background: linear-gradient(135deg, #fafafa, #f0f0f0);
}

hr {
  opacity: 0.1 !important;
}

.custom-rounded {
  border-radius: var(--rounded-border) !important;
}

.text-blue {
  color: var(--color-text-primary);
}

.text-grey {
  color: var(--color-grey-text) !important;
}

.text-red {
  color: var(--color-red) !important;
}

.bg-red {
  background-color: var(--color-red) !important;
}

.bg-light-blue {
  background-color: var(--color-gradient-light-blue);
}

.bg-yellow {
  color: var(--color-yellow-star);
}

.box-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.indicator-container {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bg-gradient-blue {
  background: linear-gradient(
    to right,
    var(--color-gradient-light-blue),
    var(--color-gradient-dark-blue)
  );
}

.bg-gradient-red-blue {
  background: linear-gradient(
    270deg,
    var(--color-red),
    var(--color-gradient-dark-blue)
  ) !important;
}

.text-gradient-blue {
  background: linear-gradient(
    to right,
    var(--color-gradient-light-blue),
    var(--color-gradient-dark-blue)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-red-blue {
  background: linear-gradient(
    to right,
    var(--color-red),
    var(--color-gradient-dark-blue)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-light-grey {
  background-color: var(--color-light-grey-bg);
}

.bg-dark-grey {
  background-color: var(--color-dark-grey-bg);
}

.border-light-grey {
  border: 1px solid var(--color-light-grey-border);
}

/* Base button styles */
.btn-base {
  font-size: 0.9rem;
  font-family: "Titillium Web";
  font-weight: 600;
  min-width: 10rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: var(--rounded-border);
}

.btn-sm {
  padding: 0.3rem 1.5rem;
  font-size: 0.9rem;
  min-width: unset !important;
}

.btn-md {
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  min-width: unset !important;
}

/* Primary Button */
.btn-primary {
  background: linear-gradient(
    to right,
    var(--color-gradient-light-blue),
    var(--color-gradient-dark-blue)
  );
  color: white;
}

.btn-primary:hover {
  filter: brightness(1.1);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

.btn-primary:hover {
  filter: brightness(1.1);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

/* Black variant */
.btn-black {
  background-color: var(--color-black);
  color: #fff;
}

.btn-black:hover {
  background-color: #222;
  color: #fff;
}

/* ///// btn outline white */
.btn-outline-white {
  background: transparent;
  border: 2px solid white;
  color: white;
  transition: all 0.25s ease;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
    -5px -5px 15px rgba(255, 255, 255, 0.05);
  font-weight: 700;
}

.btn-outline-white:hover {
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.05);
  transform: scale(1);
}

.btn-secondary:hover {
  background-color: #5a6268;
  color: white;
}

/* //// rounded btn  */

.rounded-pill-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 50rem;
  padding: 0.3rem 0.3rem 0.3rem 1.2rem;
  text-decoration: none;
  font-size: 0.95rem;
  transition: transform 0.2s ease;
}

.rounded-pill-with-icon:hover {
  transform: translateY(-2px);
}

.rounded-btn-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  margin-left: 0.2rem;
}

.blue-rounded-btn {
  background: linear-gradient(
    to right,
    var(--color-gradient-light-blue),
    var(--color-gradient-dark-blue)
  );
  color: white;
}

.white-rounded-btn {
  background-color: white;
  color: black;
  font-weight: 600;
}

.blue-rounded-btn .rounded-btn-icon-container {
  background-color: white;
  color: black;
}

.white-rounded-btn .rounded-btn-icon-container {
  background: linear-gradient(
    to right,
    var(--color-gradient-light-blue),
    var(--color-gradient-dark-blue)
  );
  color: white;
}

.custom-indicator {
  background-color: grey;
}

.custom-slider-carousel-dot {
  margin: 0 1px;
}

.custom-indicator {
  margin: 0 5px;
}

.custom-indicator,
.custom-slider-carousel-dot {
  width: 12px;
  height: 12px;
  background-color: grey;
  border-radius: 50%;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.custom-indicator.active,
.custom-slider-carousel-dot.active {
  background: linear-gradient(
    to right,
    var(--color-gradient-light-blue),
    var(--color-gradient-dark-blue)
  );
}

.indicator-chevron:hover {
  cursor: pointer;
}
