.navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: white !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hide the shop icon when the screen size is smaller than 992px (before the hamburger appears) */
@media (max-width: 991px) {
  .shop-icon-link {
    display: none;
  }
}

/* Show the shop icon on large screens and above (992px and larger) */
@media (min-width: 992px) {
  .shop-icon-link {
    display: inline-block; /* Or you can use flex, if you prefer */
  }
}
