
.content-wrapper {
  margin-top: 3rem;
}

.hero {
  position: relative;
  z-index: 1;
}

.hero-header {
  font-size: 2.6rem !important;
}

.hero-paragraph {
  color: #454444; 
}

.hero-carousel-inner {
  width: 400px;
  height: 500px;
}

.product-info {
  position: absolute;
  bottom: 0;
}

.brand-card-img-wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-card-img-wrapper img {
  object-fit: contain;
}
