.hero {
  padding-top: 70px;
}

.hero-header {
  font-size: 3rem !important;
}

.hero-paragraph {
  font-size: 1.15rem !important;
}

.brand-card {

}

.brand-card-img-wrapper {
  border-bottom: 1px solid var(--color-light-grey-border);
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-card-img-wrapper img {
   object-fit: contain; 
}

.siemens-authorized-dealer-img {
  width: 10rem;
}

.arrow-circle-link {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}



