.hero {
  /* height: 100vh; */
  padding-top: 70px;
}

.brand-card {
}

.brand-card-img-wrapper {
  border-bottom: 1px solid var(--color-light-grey-border);
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-card-img-wrapper img {
  /* max-height: 80%;   
  max-width: 100%; */
  object-fit: contain; /* Maintains aspect ratio */
}

/* .white-card-with-icon:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  cursor: pointer;
} */
