.about-page-hero {
    height: 580px;
    position: relative;
     z-index: 1;

}

.img-overlay-text {
    position: absolute;
    bottom: 0;
}

.hero-title {
    font-size: 3.5rem !important;
}

.stats-card-text {
    font-size: 0.95rem !important;
}